.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: flex-end;
  background-color: #ffffff34;
  border-radius: 2vh;
  min-height: 24vh;
  gap: 2vh;
  width: 100%;
  max-width: 420px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: transform 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out,
              backdrop-filter 0.5s ease-in-out;
}

.container:hover .text {
  color: var(--hover-font-color, black);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
  filter: blur(5px);
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text {
  position: relative;
  color: black;
  gap: 3rem;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}
